/* Google fonts available:
font-family: 'Vast Shadow', cursive;
font-family: 'Chewy', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Carter One', cursive
*/

body  {
    background-color: rgb(228, 208, 167);
  }

  .nav-link {
      color: black;
      font-size: 1.25rem;
  }

#horsesLogo {
    max-width: 100%;
    height: auto;
    width: 95%;
} 

h1, h2 {
    font-family: 'Caveat Brush', Arial, sans-serif;
    font-size: 5.5rem;
}

.tagline {
    font-size: 1.5rem;
}

 h2 {
    font-family: 'Caveat Brush', Arial, sans-serif;
    font-size: 3rem;
}

.historic-images img {
    max-width: 100%;
    height: auto;
    border: 2px inset rgb(160, 120, 41);
    background-color: #fff;
    padding: 5px;       
    box-shadow: 2px 5px 5PX rgba(0, 0, 0, .5);
}

.button-documents  {
    background-color: blanchedalmond;
    border: 1px solid rgb(99, 61,4);
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(99, 61, 4, 0.6); 
}

.btn-search {
background-color: rgb(99, 61, 4);
color: blanchedalmond;


}

.modal-body, .navbar {
        background-color: blanchedalmond;
    }

/* Start Documents Contents */
.indictment p, .warrant p {
    text-indent: 2.5rem;
    margin: 20px;
}

