/* Google fonts available:
font-family: 'Vast Shadow', cursive;
font-family: 'Chewy', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Carter One', cursive
*/
html {
    font-size: 1rem;
}

body {
    background-color: rgb(228, 208, 167);
}

.nav {                      /* nav bar */
    border-radius: 1rem;
    padding: 8px;
    border: 1px solid rgb(99, 61, 4);
    margin-top: 24px;
}

.nav-link {                 /* anchors for nav  */
    color: black;
    font-size: 1.25rem;
    padding: 8px;
    border-radius: 5px;
}

.btn-nav {              /* search button on nav bar  */
    font-size: 1.25rem;
    background-color: rgb(99, 61, 4);
    color: blanchedalmond;
    border-radius: .5rem;
    padding: 5px;
}

.btn-nav:hover, .nav-link:hover {
    background-color: rgb(230, 192, 136);
    color: rgb(99, 61, 4);
}

.banner {
    text-align: center;
}

#horsesLogo {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 75px;
}

.hrhH1 {                    /* h1 */
    font-family: 'Caveat Brush', Arial, sans-serif;
    font-size: 5.5rem;
    margin-top: 25px;
}

.tagline {                  /* "Have fun learning etc." */
    font-size: 1.75rem;
    margin-bottom: 12;
}

.outlawedH2 {               /* h2 */
    font-family: 'Caveat Brush', Arial, sans-serif;
    font-size: 3rem;
    padding-bottom: 24px;
}

.historic-images img {              /* 1852 documents */
    max-width: 100%;
    height: auto;
    border: 2px inset rgb(160, 120, 41);
    background-color: #fff;
    padding: 5px;
    box-shadow: 7px 9px 9px rgba(0, 0, 0, .5);
}

.figure-caption {                /* Captions under 1852 documents */             
    font-family: 'Caveat Brush', Arial, sans-serif;
    color: black;
    font-size: 1.75rem;
    line-height: 1.7rem;
    padding-top: 9px;
}

.button-documents {             /* Buttons under 1852 documents */
    background-color: blanchedalmond;
    border: 1px solid rgb(99, 61, 4);
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(99, 61, 4, 0.6);
    font-family: Arial;
    font-size: 1rem;
}
.button-documents:hover {               
    cursor: pointer;
}

.modal-body, .nav, #navPopUp, .footer {      /* Set background for modals, nav bar and footer */
    background-color: blanchedalmond;
}

.indictment p, .warrant p, .theHistory p {      /* Set indent for paragraphs */
    text-indent: 2.5rem;
    margin: 20px;
}

#navPopUp p {
    text-indent: 1.5rem;
}

.theHistory p::first-letter {    /* Set size of first letter of each <p> in Latin text. */
    font-size: 1.4rem;
}

.container {                 /* Set max-width of page. */
    max-width: 1350px;
}

#derby-trophy {             /* rule required by Bootstrap to make image fit and fluid */
    max-width: 100%;
    height: auto;
    width: 50%;
}

.photoCredits {                         /* Style <ul> */
    margin-bottom: .75rem;
    margin-top: .75rem;
}

.photoCredits li {                       /* Style <li> */
    list-style-type: none;
    font-size: .75rem;
}

.copyrightInfo p {
    margin: 0;
    font-size: .85rem;
}

.moreFun p {
    font-size: .75rem;
    margin: 0;
}

.wrap {                             /* To enforce the sticky footer */
    min-height: calc(100vh-78px);
}

.footer {
    border-top: 1px solid rgb(99, 61, 4);
    width: 100%;
}

@media screen and (max-width: 768px) {          /* Start Media screen Query */
    .hrhH1 {
         /* Media Screen Query */
        font-size: 3.75rem;
        margin-top: 10px;
    }
    #horsesLogo {
        /* Media Screen Query */
        margin-top: 10px;
        margin-left: 15px;
        max-width: 110%;
    }
    .tagline {
        /* Media Screen Query */
        font-size: 1.1rem;
    }
    .nav {
        /* Media Screen Query */
        margin-top: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .nav-link {
        /* Media Screen Query */
        font-size: .7rem;
        line-height: 28.5px;
    }
    .btn-nav {
        /* Media Screen Query */
        font-size: .6rem;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .form-control {
        /* Media Screen Query */
        /* To set font-size in search box */
        font-size: .65rem;
        line-height: .5rem;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .outlawedH2 {
        /* Media Screen Query */
        font-size: 2rem;
        margin-bottom: none;
    }
    .outlawCol {
        /* Media Screen Query */
        padding-bottom: 0px;
    }
    .theHistory {
        /* Media Screen Query */
        padding-right: 0px;
        padding-left: 0px;
    }
    .theHistory p {
        /* Media Screen Query */
        margin-left: 20px;
        margin-right: 30px;
        margin-bottom: 15px;
        margin-top: 0px;
        text-indent: .75rem;
        font-size: 1rem;
    }

    .tripleCrownPhotos {
         /* Media Screen Query */
        text-align: center;
        padding-right: 45px;

    }
    .tripleCrownPhotos .figure {
         /* Media Screen Query */
        max-width: 45%;
    }

    #whirlaway {
        margin-right: 20px;
    }

    #secretariat {
        margin-left: 20px;
    }
    .historic-images {
         /* Media Screen Query */
        padding-left: 30px;  
    }
    .historic-images img {
        /* Media Screen Query */
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    }
    .figure-caption {
        /* Media Screen Query */
        font-size: 1.25rem;
        line-height: 1.25rem;
        padding-top: 0px;
    }
    .button-documents {
        /* Media Screen Query */
        margin-top: 15px;
        box-shadow: 0 0 10px rgba(99, 61, 4, 0.6);
        font-size: 1rem;
    }

    #derby-trophy {
         /* Media Screen Query */
         width: 65%;
    }
    .theHistory p::first-letter {
        /* Media Screen Query */
        font-size: .9rem;
    }
    .photoCredits li {
        /* Media Screen Query */
        font-size: .55rem;
    }
    .copyrightInfo p {
        /* Media Screen Query */
        font-size: .65rem;
    }
    .moreFun p {
        /* Media Screen Query */
        font-size: .65rem;
    }
    .moreFun a {
        /* Media Screen Query */
        font-size: .55rem;
    }
}

/* Start Media Print Query */
@media print {
   .nav a, .nav form {
       /* Media Print Query */
       display: none;  
   }
   .nav {
       /* Media Print Query */
       border:none;
   }
   .tagline {
       /* Media Print Query */
       font-size: 1.4rem; 
   }
   .button-documents {
       /* Media Print Query */
       display: none;
   }
   #horsesLogo {
       /* Media Print Query */
       margin-left: 0px;
       margin-top: 40px;
   }
/* End Media Print Query */

}
/* End media queries */


