/* Google fonts available:
font-family: 'Vast Shadow', cursive;
font-family: 'Chewy', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Carter One', cursive
*/
html {
    font-size: 1rem;
}
body {
    background-color: rgb(228, 208, 167);
}
.nav-link {
    color: black;
    font-size: 1.25rem;
    padding: 8px;
}

.banner{
    text-align: center;
}

#horsesLogo {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 75px;
}

.hrhH1 {
    font-family: 'Caveat Brush', Arial, sans-serif;
    font-size: 5.5rem;
    margin-top: 25px;
}

.tagline {
    font-size: 1.75rem;
    margin-bottom: 12;             
}

.nav {
    border-radius: 1rem;
    padding: 8px;
    border: 1px solid  rgb(99, 61, 4);
}

.outlawedH2 {
    font-family: 'Caveat Brush', Arial, sans-serif;
    font-size: 3rem;
}

.historic-images img {
    max-width: 100%;
    height: auto;
    border: 2px inset rgb(160, 120, 41);
    background-color: #fff;
    padding: 5px;
    box-shadow: 7px 9px 9px rgba(0, 0, 0, .5);
}

.button-documents {
    background-color: blanchedalmond;
    border: 1px solid rgb(99, 61, 4);
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(99, 61, 4, 0.6);
    font-family: Arial;
    font-size: 1rem;
}

.button-documents:hover {
    cursor: pointer;
}

.btn-nav {
    font-size: 1.25rem;
    background-color: rgb(99, 61, 4);
    color: blanchedalmond;
    border-radius: .5rem;
    padding: 5px;

}

.btn-nav:hover, .nav-link:hover {
    background-color: rgb(230, 192, 136);
    color: rgb(99, 61, 4);
}

.modal-body, .nav, #navPopUp, .footer {
    background-color: blanchedalmond;
}

.indictment p, .warrant p, .theHistory p {
    text-indent: 2.5rem;
    margin: 20px;
}

#navPopUp p {
    text-indent: 1.5rem;
}

.theHistory p::first-letter {
    font-size: 1.4rem;
}

.container {
    max-width: 1350px;
}

.figure-caption {
    font-family: 'Caveat Brush', Arial, sans-serif;
    color: black;
    font-size: 1.75rem;
    line-height: 1.7rem;
    padding-top: 9px;
}

/* rule required by Bootstrap to make image fluid */
.derby-trophy {
    max-width: 100%;
    height: auto;
}

.photoCredits {
    margin-bottom: .75rem;
    margin-top: .75rem;
}

.photoCredits li {
    list-style-type: none;
    font-size: .75rem;
}

.copyrightInfo p {
    margin: 0;
    font-size: .85rem;
}

.moreFun p {
    font-size: .75rem;
    margin: 0;
}

/* To enforce the sticky footer */
.wrap{
    min-height: calc(100vh-78px);
} 
.footer{
    border-top: 1px solid  rgb(99, 61, 4);
    width: 100%;
}

/* Media Query */
@media (max-width: 768px) {
    .hH1 {
    font-size: 4rem;
}


}